* {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: black;
    color: white;
    padding: 1rem;
}
#cloud {
    color: aqua;
}
h2 {
    background-color: rebeccapurple;
    color: whitesmoke;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    font-weight: lighter;
}
h3 {
    background-color: lightskyblue;
    color: darkblue;
    text-decoration: underline;
    text-align: right;
    padding: 1rem;
}